<div class="page-header">
    <h1>Dashboard</h1>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Check-in <small class="m-l-sm">(Hoje - 29/09/2016)</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Cliente </th>
                                    <th>Pet </th>
                                    <th>Raça/Porte</th>
                                    <th>Status</th>
                                    <th>Dias</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Rangel Acácio de Souza</small></td>
                                    <td>Dido</td>
                                    <td>Shih-tzu</td>
                                    <td>
                                        <span class="label">Aguardando</span>
                                    </td>
                                    <td>5</td>
                                    <td>
                                        <button data-toggle="button" class="btn btn-primary btn-outline btn-xs" type="button">Alterar situação</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Patricia Mattos de Medeiros</small></td>
                                    <td>Billy</td>
                                    <td>Yorkshire </td>
                                    <td>
                                        <span class="label label-primary">Hospedado</span>
                                    </td>
                                    <td>5</td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-xs-6">
                    <div class="widget style1 lazur-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa fa-paw fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Total de Pet's no mês </span>
                                <h2 class="font-bold">260</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="widget style1 white-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-envelope fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Mensagens </span>
                                <h2 class="font-bold">2</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="widget style1 yellow-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-bell-o fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Notificações </span>
                                <h2 class="font-bold">6</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="widget style1 red-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-warning fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Alertas </span>
                                <h2 class="font-bold">12</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Check-out <small class="m-l-sm">(Hoje - 29/09/2016)</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Cliente </th>
                            <th>Pet </th>
                            <th>Raça/Porte</th>
                            <th>Status</th>
                            <th>Dias</th>
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Rangel Acácio de Souza</small></td>
                            <td>Dido</td>
                            <td>Shih-tzu</td>
                            <td>
                                <span class="label">Aguardando</span>
                            </td>
                            <td>5</td>
                            <td>
                                <button data-toggle="button" class="btn btn-primary btn-outline btn-xs" type="button">Alterar situação</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Patricia Mattos de Medeiros</small></td>
                            <td>Billy</td>
                            <td>Yorkshire </td>
                            <td>
                                <span class="label label-primary">Hospedado</span>
                            </td>
                            <td>5</td>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox-title">
                <h5>Ocupação de leitos <small class="m-l-sm">(previsão)</small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div>
                    <div>
                        <span>Leitos ocupados</span>
                        <small class="pull-right">30/120</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 40%;" class="progress-bar"></div>
                    </div>

                    <div>
                        <span>Previsão para leitos ocupados amanhã</span>
                        <small class="pull-right">90/120</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 80%;" class="progress-bar progress-bar-warning"></div>
                    </div>

                    <div>
                        <span>Previsão para leitos 2 dias</span>
                        <small class="pull-right">110/120</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 95%;" class="progress-bar progress-bar-danger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>